# Auto detect text files and perform LF normalization
* text=auto

# Python files should use LF
*.py text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
*.apk binary
